.news {
    max-width: 500px;
    min-height: 420px;
}
.news__text {
    word-break: break-word ;
    width: 350px;
    margin-top: 20px;
}

.news__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news__title {
    display: flex;
    justify-content: center;
    width: 350px;
}

.news__author {
    margin-top: 50px;
}

.news__tags {
    margin-top: 20px;
    display: flex;
}