.modal {
    display: flex;
    flex-direction: column;
}

.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 25px;
}

.modal__inputs {
    display: flex;
    gap: 10px;
}

.modal__title {
    display: flex;
    justify-content: center;
}