.navbar {
    display: flex;
    gap: 400px;
}
.navbar__links {
    display: flex;
    gap: 30px;
}

.navbar__title {
    text-decoration: none;
    color: #ffff;
}

.login {
    margin-left: 550px;
    display: flex;
    gap: 40px;
}

.logout {
    display: flex;
    margin-left: 250px;
    gap: 40px;
}

.navbar__hello {
    white-space: nowrap;
}