.user__news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 15px;
}
.user__card {
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.user__info {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.user_description {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
}